<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    <h1>React Symfony 4 Starter</h1>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
